:root{

    --color-light: #ffffff;
    --color-gray-light: #DCDCDC;
    --color-gray-light-alt: #F0F0F0;
    --color-brown-dark: #251A00;
    --color-brown-light: #644F43;
    --color-brown-alt: #C1B9B4;
    --color-accent-orange: #EF7723;
    --color-warning-red: #FF4040;
    --color-warning-red-bg: #FF404020;
    --color-gray-alt: #F8F7F7;
    --color-gray: #F2F2F2;

    --border-radius: 70px;
    --border-radius-small: 40px;

    --container-width: 1402px;
    --container-padding-x: 20px;
    --section-padding-y: 

    --input-height: 78px;
}