.shops{
    padding-inline: 40px;
    @include mobile-small{
        padding-inline: 32px;
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 24px;
        &-card{
            height: 274px;
            @include tablet{
                height: 240px;
            }
            @include mobile-small{
                height: 186px;
            }
        }
        &-item{
            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                  background-image: url(/public/images/backgrounds/bg-#{$i}.png);
                  background-size: cover;
                }
              }

              &:nth-child(1),&:nth-child(2){
                grid-column: span 3;
              }
              &:nth-child(3),&:nth-child(4),&:nth-child(5){
                grid-column: span 2;
              }
              &:nth-child(6){
                grid-column: span 6;
              }
        }
    }
}